jobs:
  build:
    outputs:
      distro: "${{ steps.distro_check.outputs.distro }}"
    runs-on: "ubuntu-latest"
    container:
      image: "debian:bullseye"
    steps:
    - name: "Install git"
      run: |
        apt-get update
        apt-get install -y git
    - name: "Checkout"
      uses: "actions/checkout@v6"
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: "recursive"
    - name: "Install build dependencies"
      run: |
        dpkg --add-architecture arm64
        apt-get update
        apt-get install -y crossbuild-essential-arm64 binfmt-support qemu-user-static cmake debhelper dh-exec devscripts
        apt-get build-dep . -y || true
    - name: "Build DEB packages"
      run: |
        chmod +x debian/rules
        export DEB_BUILD_ARCH=amd64
        export DEB_HOST_ARCH=arm64
        dpkg-buildpackage -us -uc -ui -b -aarm64
    - name: "Upload artifacts"
      uses: "actions/upload-artifact@v5"
      with:
        name: "${{ github.event.repository.name }}"
        path: |
          ../*.deb
    - id: "distro_check"
      name: "Check if the latest version is releasable"
      run: |
        version="$(dpkg-parsechangelog -S Version)"
        version="${version//\~/.}"
        if [[ -n "$(git tag -l "$version")" ]]
        then
            echo "distro=UNRELEASED"
        else
            echo "distro=$(dpkg-parsechangelog -S Distribution)"
        fi | tee -a "$GITHUB_OUTPUT"
      shell: "bash"
  release:
    if: "${{ github.event_name != 'pull_request' && needs.build.outputs.distro != 'UNRELEASED' }}"
    needs: "build"
    permissions:
      contents: "write"
    runs-on: "ubuntu-latest"
    steps:
    - name: "Checkout"
      uses: "actions/checkout@v6"
    - name: "Download generated debs"
      uses: "actions/download-artifact@v7"
      with:
        name: "${{ github.event.repository.name }}"
        path: ".artifacts"
    - name: "Prepare for release"
      run: |
        version="$(dpkg-parsechangelog -S Version)"
        version="${version//\~/.}"
        {
            echo "version=$version"
            echo "changes<<EOF"
            echo '```'
            echo "$(dpkg-parsechangelog -S Changes)"
            echo '```'
            echo "EOF"
        } | tee -a "$GITHUB_ENV"
        echo "$version" | tee VERSION
      shell: "bash"
    - name: "Create Release"
      uses: "softprops/action-gh-release@v2"
      with:
        body_path: "README.md"
        draft: false
        fail_on_unmatched_files: false
        files: |
          .artifacts/**/*.deb
          VERSION
        prerelease: false
        tag_name: "${{ env.version }}"
        target_commitish: "${{ github.sha }}"
        token: "${{ secrets.GITHUB_TOKEN }}"
    - name: "Append changelog"
      uses: "softprops/action-gh-release@v2"
      with:
        append_body: true
        body: |
          ## Changelog for ${{ env.version }}
          ${{ env.changes }}
        tag_name: "${{ env.version }}"
name: "Build & Release"
"on":
  merge_group: {}
  pull_request:
    paths-ignore:
    - "docs/**"
    - "README.md"
    - ".github/workflows/docs.yaml"
  push:
    branches:
    - "main"
    paths-ignore:
    - "docs/**"
    - "README.md"
    - ".github/workflows/docs.yaml"
  workflow_dispatch: {}
permissions: {}
